/WebApplication_01/nbproject/private/
/WebApplication_01/build/
/HTML_practice2/nbproject/private/
/HTML_practice2/build/
/WebApplication_03_a/nbproject/private/
/WebApplication_03_a/build/
/WebApplication_03_b/nbproject/private/
/WebApplication_03_b/build/
/WebApplication_03_c/nbproject/private/
/WebApplication_03_c/build/
/WebApplication_03_d/nbproject/private/
/WebApplication_03_d/build/
/Edunext slot3 practice/nbproject/private/
/Edunext slot3 practice/build/
/Edunext slot3 practice/dist/
/WebApplication_04_a/nbproject/private/
/WebApplication_04_a/build/
/WebApplication_04_b/nbproject/private/
/WebApplication_04_b/build/
/WebApplication_04_c/nbproject/private/
/WebApplication_04_c/build/
/WebApplication_05_a/nbproject/private/
/WebApplication_05_a/build/
/WebApplication06/nbproject/private/
/WebApplication06/build/
/WebApplication07_JSP_a/nbproject/private/
/WebApplication07_JSP_a/build/
/WebApplication07_JSP_b/nbproject/private/
/WebApplication07_JSP_b/build/
/WebApplication07_JSP_c/nbproject/private/
/WebApplication07_JSP_c/build/
/WebApplication08/nbproject/private/
/WebApplication08/build/
/WebApplication09/nbproject/private/
/WebApplication09/build/
/WebApplication10/nbproject/private/
/WebApplication10/build/